.contact-us{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height: 200px;
    color: white;
    background-color: #162e67;
}
span{
    color: #db853c;
}

.body-container{
    margin-bottom: 100px;
}

.contact-form{
    width: 35%;
    padding-bottom: 100px;
}

#emailHelp{
    color: white;
}

.contact-us h1{
    font-size: 50px;
    font-style: bold;
}